@font-face {
    font-family: Rock3D;
    src: url('./fonts/Rock3D-Regular.ttf');
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url('./fonts/ShadowsIntoLight-Regular.ttf');
}

body {
    color: black;
    background-image: url('./img/wordcounter.png');
    background-size: 100% 180%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Rock3D;
    text-align: right;
    padding-right: 70px;
    font-size: 60px;
}

#textbox {
    width: 630px;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: 190px;
    left: 380px;
    outline: none;
}

.buttongenerate {
    background-color: transparent; /* Green */
    color: black;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 35px;
    left: 100px;
    position: absolute;
    left: 390px;
    top: 470px;
    font-family: Rock3D;
    letter-spacing: -0.5px;

}

.buttonclear {
    background-color: transparent; /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    left: 100px;
    position: absolute;
    left: 900px;
    top: 470px;
    font-family: Rock3D;
    letter-spacing: -0.5px;


}

#textbox-area {
    margin-left: 230px;
    margin-top: 300px;
}

p {
    text-align: right;
    padding-right: 90px;
    position: absolute;
    top:110px;
    left: 93%;
    font-size: 15px;
    font-family: serif;
}